@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #24506457;
  --foreground: #385179;
  --text-color: #011a42;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
